<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wcy.app.lib.web">

    <application>
        <activity android:name="com.wcy.app.lib.web.file.ActionActivity" />
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WebXActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".file.RealDownLoader$NotificationBroadcastReceiver" />
        <provider
            android:name="com.wcy.app.lib.web.SuperWebX5FileProvider"
            android:authorities="${applicationId}.SuperWebX5FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/web_download_paths" />
        </provider>
    </application>
</manifest>
